@import url(./style/form.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

.color-switch-first {
  background-color: lightblue;
  color: black;
  padding: 5px;
}

.color-switch-second {
  background-color: coral;
  color: white;
  padding: 10px;
}

.container {
  position: relative;
  max-width: 1280px;
  min-height: 1715px;
  margin: 0 auto;
  padding-top: 220px;
  background: none;
  z-index: 2;
}

.background-image {
  content: "";
  position: absolute;
  top: 152px;
  left: 84px;
  width: 790px;
  height: 697px;
  background-image: url("/images/background-title.png");
  background-repeat: no-repeat;
  z-index: 0;
}

.title {
  position: relative;
  z-index: 1;
  text-align: center;
}

.title h1 {
  margin-top: 220px;
  text-align: center;
  font-size: 70px;
  color: rgba(81, 80, 118, 1);
}

.product-card-list {
  position: relative;
  z-index: 1;
  margin-top: 110px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

.card-container-item {
  width: 340px;
  height: 573px;
  padding: 25px;
  background: #f7f7fa;
  box-shadow: 2px 2px 10px 0 rgba(81, 80, 118, 0.1);
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a5a3b9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound li {
  margin-left: 14px;
}

.product-price-container {
  width: 290px;
  display: flex;
  justify-content: space-between;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price-label {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* footer */

.footer {
  width: 1728px;
  height: 477px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 162px;
  background: #3a3a3a;
  font-family: Arial, sans-serif;
}

.footer__wrap {
  width: 1569px;
  height: 147px;
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  margin-top: 85px;
}

.presentation {
  width: 409px;
  height: 147px;
  color: #FFFFFF;
}

.presentation__title {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 16px;
  line-height: 154%;
  text-transform: capitalize;
  color: #fff;
}

.presentation__text {
  font-weight: 400;
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 154%;
  text-transform: capitalize;
  color: #fff;
}

.presentation__socials img {
  width: 22px;
  height: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.promotion {
  width: 477px;
  height: 103px;
  margin-left: 132px;
}

.promotion__title {
  margin: 0 39px 17px 78px;
  font-size: 24px;
  color: #FFFFFF;
}

.promotion__form {
  width: 477px;
  height: 61px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border-radius: 6px;
  
}

.promotion__form input {
  border: none;
  padding: 20px 31px;
  width: 311px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  background: #FFFFFF;
  padding: 20px 15px ;
  cursor: pointer;
  border: none;
}

.quick-links {
  width: 178px;
  height: 147px;
  margin-left: 373px;
  font-size: 20px;
  color: #FFFFFF;
}

.quick-links__title {
  font-size: 20px;
  margin-bottom: 23px;
  color: #FFFFFF;
}

.footer__links{
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer__links a {
  text-decoration: none;
  font-size: 18px;
  opacity: 0.9;
  color: #FFFFFF;
}

.footer__email {
  text-align: center;
}

.footer__divider {
  display: block;
  border: 1px solid #fff;
  width: 66px;
  margin: 0 auto 10px;
}

.footer__copyright {
  opacity: 0.8;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding-top: 33px;
}