#register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 50px;
  background: #bfe0d7;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #e1e5e9;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

/* Чекбокс */
.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.checkbox-label input[type="checkbox"] {
  display: none;
}

.checkmark {
  width: 18px;
  height: 18px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox-label input:checked + .checkmark {
  background: #007bff;
  border-color: #007bff;
}

.checkbox-label input:checked + .checkmark::after {
  content: '✓';
  color: white;
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 14px;
}

/* Кнопка */
button[type="submit"] {
  width: 100%;
  padding: 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #0056b3;
}

/*модалка*/
.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#openModalBtn {
  width: 25%;
  padding: 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 1000;
}

.modal-showed {
  display: block;
}

.modal-content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 400px;
  padding: 30px;
  margin-top: 50px;
  background: #bfe0d7;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.close {
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
}